*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  display: block;
  font-family: 'Courier New', Courier, monospace;
  max-width: 100%;
}

/* nav CSS */
header {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #fff;
  color: #8e44ad;
  z-index: 3;
}

header h1 {
  font-size: 2em;
  padding: 10px 0 0 20px;
  float: left;
}

header h1:hover {
  text-decoration-line: line-through;
  opacity: 50%;
  transition: all 2s ease;
}

nav ul {
  display: flex;
  float: right;
  margin-top: 8px;
  padding-right: 20px;
}

nav li {
  display: inline;
  font-size: 1.5em;
  padding: 15px 0 0 20px;
}

nav a {
  text-decoration: none;
  color: #8e44ad;
}

nav a:hover {
  color: #f1c40f;
}

/* main CSS */

body {
  background-image: linear-gradient(to bottom right, #ad87bd, #8e44ad);
  color: #fff;
  min-height: 100vh;
}

form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: #666;
  background: white;
}

form input:focus {
  outline: none;
}
form button {
  color: #9b59b6;
  background-color: white;
  cursor: pointer;
}

form button:hover {
  background: #6c5ce7;
  color: white;
}

form button:focus {
  outline: none;
}

select {
  margin: auto;
  font-size: 1.25rem;
  color: #9b59b6;
  width: 12rem;
  cursor: pointer;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  float: center;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background-color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2d3436;
  min-width: 40vh;
  transition: all 1s ease;
}

.todo li {
  flex: 1;
}

.todo-item {
  padding-left: 1rem;
}

.complete-btn, .delete-btn {
  background-color:#d63031;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background-color:#00b894;
}

.complete-btn:focus, .delete.btn:focus {
  outline: none;
}

.fa-trash, .fa-check {
  pointer-events: none;
}

.completed {
  text-decoration-line: line-through;
  opacity: 15%;
}

.removing {
  transform: translateY(8rem) rotateZ(15deg);
  opacity: 0;
}


